* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.background-color {
    background-color: white;
}

.wrapper {
    width: auto;
}

.navigation-bar {
    height: auto;
    line-height: normal;
}

.boolean-logo {
    height: 50px;
    vertical-align: middle;

}

.title-align {
    display: inline;
    vertical-align: middle;
}

.box-align-top {
    padding: 20px;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    border-bottom: 2px solid lightgrey;
}

.box-padding {
    padding: 7px;
    border-radius: 5px;
}

.text-white {
    color: white;
}

.blue-box {
    background-color: lightblue;
}

.white-box {
    background-color: white;
}

.text-grey {
    color: lightgrey;
    border-color: lightgrey;
}

.box-align-bottom {
    padding: 20px;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;

}

ul {
    list-style: none;
}

.back-orange{
    background-color: orange;
}

.back-violet{
    background-color: violet;
}

.back-green{
    background-color: green;
}

ul li{
    margin-bottom: 15px;
}

.back-pink {
    background-color: pink;
}

.back-lightgreen {
    background-color: lightgreen;
}

.heigh-section {
    height: 100%;
}