*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: lightgrey;
}

.background-color{
    background-color: white;
}
.wrapper{
    width:auto;
}
.navigation-bar {
    height: auto;
    line-height: normal;
}

.boolean-logo{
    height: 50px;
    vertical-align: middle;

}

.title-align{
    display: inline;
    vertical-align: middle;
}